@model CoreEntityFramework.Models.Song

<h1>Song Details</h1>

<div>
    <h4>Title: @Model.Title</h4>
    <p>Artist: @Model.Artist</p>
    <p>Album: @Model.Album</p>
    <p>Genre: @Model.Genre</p>
    <p>Release Date: @Model.ReleaseDate.ToShortDateString()</p>
    <
